In [2]:
import pandas as pd
df = pd.read_csv("C:/Users/ACER/Downloads/employee_data.csv")
print(df.head())

               Name  Age Department  Salary  Experience  Gender    JoinDate
0     Antonio Brown   50         HR   86250           5  Female  2021-01-02
1       Anna Wright   36    Finance  102082          34  Female  2016-06-17
2       Connor Mayo   29      Sales   64754          23    Male  2017-09-24
3  Gregory Alvarado   42    Finance   41411          28    Male  2018-02-23
4   Jonathan Fuller   40         HR   32911          30  Female  2025-01-11

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.histplot(df['Salary'], kde=True, bins=10)
plt.title("Salary Distribution")
plt.xlabel("Salary")
plt.ylabel("Frequency")
plt.show()